<div class="container">
    <div class="popup">
        <h2>Pagamento</h2>
        <form [formGroup]="form">
            <table>
                <tr>
                    <td>
                        <label (click)="formCartao(2)">
                            <span class="material-symbols-outlined">barcode</span>
                            <p>Boleto</p>
                            <input type="radio" name="paymentType" value="2" formControlName="paymentType">
                        </label>
                    </td>
                    <td>
                        <label (click)="formCartao(1)">
                            <span class="material-symbols-outlined">credit_card</span>
                            <p>Cartão de credito</p>
                            <input type="radio" name="paymentType" value="1" formControlName="paymentType">
                        </label>
                    </td>
                </tr>
            </table>
            <label for="m-nome">Numero do Cartão</label>
            <input type="text" name="m-numeroCartao" id="m-numeroCartao" formControlName="number" />

            <label for="m-email">Código Verificador</label>
            <input id="codigo" type="text" name="codigo" maxlength="3" formControlName="cvv" />

            <label for="m-email">Nome no cartão</label>
            <input id="card-name" type="text" name="card-name" formControlName="cardName" />

            <label for="m-password">Vencimento</label>
            <input id="vencimento" type="text" name="vencimento" placeholder="mm/yyyy" formControlName="expireAt" />

            <label for="m-confirm-password">Quantidade de parcelas</label>
            <input id="qtd_parcelas" type="number" max="12" name="qtd_parcelas" formControlName="quota" />

            <button id="continuar">Continuar</button>
        </form>
    </div>
</div>