<div class="container">
    <div class="popup">
        <h3>Cadastro de endereço</h3>
        <form [formGroup]="form">

            <label for="m-cep">CEP</label>
            <input id="m-cep" name="m-cep" type="text" formControlName="zipCode" (change)="search()">

            <label for="m-rua">Nome da Rua/Av</label>
            <input id="m-rua" name="m-rua" type="text" formControlName="address" />

            <label for="m-numero">Numero</label>
            <input id="m-numero" name="m-numero" type="number" formControlName="houseNumber" />

            <label for="m-bairro">Bairro</label>
            <input id="m-bairro" name="m-bairro" type="email" formControlName="district" />

            <label for="m-cidade">Cidade</label>
            <input id="m-cidade" name="m-cidade" type="text" formControlName="city" />

            <label for="">UF</label>
            <input type="text" name="m-uf" id="m-uf" formControlName="state">

            <div class="default-address">
                <label for="m-default">Padrao</label>
                <input name="m-default" id="m-default" formControlName="default" type="checkbox">
            </div>

            <button (click)="salvar()" id="btnSalvar">Salvar</button>
        </form>
    </div>
</div>