<div class="container">
    <div class="popup">
        <h3>{{ titulo }}</h3>

        <label for="m-nome">Nome</label>
        <input id="m-nome" name="m-nome" type="text" required [(ngModel)]="nome" />

        <label for="m-email">E-mail</label>
        <input id="m-email" name="m-email" type="email" required [(ngModel)]="email" />

        <label for="m-senha">Senha</label>
        <input id="m-senha" name="m-senha" type="password" required [(ngModel)]="senha" />

        <label for="m-senha">Confirme sua senha</label>
        <input id="m-confimaSenha" name="m-confimaSenha" type="password" required [(ngModel)]="confirmSenha" />

        <label for="m-cargo">Cargo</label>
        <select id="m-cargo" name="m-cargo" required [(ngModel)]="cargo">
            <option value="">Selecione...</option>
            <option value="admin">Admin</option>
            <option value="estoquista">Estoquista</option>
        </select>

        <label for="m-situacao">Situação</label>
        <select id="m-situacao" name="m-situacao" required [(ngModel)]="situacao">
            <option value="">Selecione...</option>
            <option value="true">Ativo</option>
            <option value="false">Inativo</option>
        </select>
        <button (click)="salvar()" id="btnSalvar">Salvar</button>

    </div>
</div>